<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{!-- This is for importing partial files --}}
    {{>header}}

    
    <h1>Let's go hbs!!!!LOL</h1>

    {{!-- Making the page dynamic --}}
    <h1>{{name}}</h1>
    <p>Use this page to get the weather of any location!</p>

    <form>
    <input placeholder="Location">
    <button>Search</button>
    </form>
</body>
</html>